<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Dependencies" data-toc-modified-id="Dependencies-1">Dependencies</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-2">Functions</a></span></li><li><span><a href="#Paths" data-toc-modified-id="Paths-3">Paths</a></span></li><li><span><a href="#Main" data-toc-modified-id="Main-4">Main</a></span><ul class="toc-item"><li><span><a href="#Cleanup-ATC-file" data-toc-modified-id="Cleanup-ATC-file-4.1">Cleanup ATC file</a></span></li><li><span><a href="#Clean-up-NCR-file" data-toc-modified-id="Clean-up-NCR-file-4.2">Clean up NCR file</a></span></li><li><span><a href="#Clean-up-T-cells-file" data-toc-modified-id="Clean-up-T-cells-file-4.3">Clean up T cells file</a></span></li><li><span><a href="#Create-master-table-for-clinical-and-flow-data" data-toc-modified-id="Create-master-table-for-clinical-and-flow-data-4.4">Create master table for clinical and flow data</a></span></li><li><span><a href="#Cohort-cleanup" data-toc-modified-id="Cohort-cleanup-4.5">Cohort cleanup</a></span></li></ul></li></ul></div>

In [1]:
Sys.setlocale(category = "LC_ALL", locale = "en_US.UTF-8")

[1] "en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/C"

# Dependencies

In [2]:
library(ggplot2)
library(gridExtra)
library(ComplexHeatmap)
library(circlize)

Loading required package: grid

========================================
ComplexHeatmap version 2.14.0
Bioconductor page: http://bioconductor.org/packages/ComplexHeatmap/
Github page: https://github.com/jokergoo/ComplexHeatmap
Documentation: http://jokergoo.github.io/ComplexHeatmap-reference

If you use it in published research, please cite either one:
- Gu, Z. Complex Heatmap Visualization. iMeta 2022.
- Gu, Z. Complex heatmaps reveal patterns and correlations in multidimensional
    genomic data. Bioinformatics 2016.


The new InteractiveComplexHeatmap package can directly export static
complex heatmaps into an interactive Shiny app with zero effort. Have a try!

This message can be suppressed by:
  suppressPackageStartupMessages(library(ComplexHeatmap))
========================================


========================================
circlize version 0.4.15
CRAN page: https://cran.r-project.org/package=circlize
Github page: https://github.com/jokergoo/circlize
Documentation: https://jokergoo.github.io/circlize_book/book/

If you use it in published research, please cite:
Gu, Z. circlize implements and enhances circular visualization
  in R. Bioinformatics 2014.

This message can be suppressed by:
  suppressPackageStartupMessages(library(circlize))
========================================

# Functions

# Paths

In [3]:
datapath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/"
plotpath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Plots/"
manifestpath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Manifests/"

gitpath <- "/Users/anabbi/git/ped_CapTCRseq/"

# Main

All csv files are from "Toronto expansion and NCR data 4.xlsx"

## Cleanup ATC file

On excel, copy row 2:end of "ATC count" sheet to a new spreadsheet, adjust columns:
" ID#	Age		FOLD	ATC	FOLD1	ATC1	FOLD2	ATC2	FOLD3	ATC3	FOLD4	ATC4"
save as ATC_count.csv

In [4]:
ATCs <- read.csv(paste0(datapath, "Flow/ATC_count.csv"),
                 header = T, check.names = F, stringsAsFactors = F, 
                 na.strings = c("NA","", "#DIV/0!","#VALUE!","#REF!"))

In [5]:
head(ATCs[221:338,])

     ID# Age        FOLD ATC    FOLD1 ATC1    FOLD2 ATC2   FOLD3 ATC3   FOLD4
221 320  NA  AML    8.9    0.00 3.5      0.00 13.2    0.00 x       0.00 0
222 321  NA  HD     0      0.00 0        0.00 0       0.00 0       0.00 0
223 322  NA  DLBCL  1.1    0.00 0.4      0.00 4.3     0.00 4.7     0.00 1
224 323  NA  HR ALL 0    154.75 0     1397.28 0     786.24 0     563.68 0
225 324  NA  T-ALL  0      0.00 0        0.00 0       0.00 0       0.00 0
226 325  NA  ERMS   0        NA 0      927.46 0     624.72 0     163.77 0
    ATC4
221   0.0
222   0.0
223   0.0
224 979.5
225   0.0
226   0.0

Subset to include patients 330 to 437

In [6]:
ATC_subset <- ATCs[221:338,]

In [7]:
ATCssubset1 <- ATC_subset[,c("FOLD", "ATC")]
ATCssubset2 <- ATC_subset[,c("FOLD1", "ATC1")]
ATCssubset3 <- ATC_subset[,c("FOLD2", "ATC2")]
ATCssubset4 <- ATC_subset[,c("FOLD3", "ATC3")]
ATCssubset5 <- ATC_subset[,c("FOLD4", "ATC4")]

In [8]:
colnames(ATC_subset)

 [1] " ID#"  "Age"   ""      "FOLD"  "ATC"   "FOLD1" "ATC1"  "FOLD2" "ATC2"
[10] "FOLD3" "ATC3"  "FOLD4" "ATC4"

In [9]:
dim(ATCssubset1)

[1] 118   2

In [10]:
ATCssubset1 <- cbind(ATC_subset$` ID#`, ATCssubset1)
ATCssubset2 <- cbind(ATC_subset$` ID#`, ATCssubset2)
ATCssubset3 <- cbind(ATC_subset$` ID#`, ATCssubset3)
ATCssubset4 <- cbind(ATC_subset$` ID#`, ATCssubset4)
ATCssubset5 <- cbind(ATC_subset$` ID#`, ATCssubset5)

In [11]:
colnames(ATCssubset1) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset2) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset3) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset4) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset5) <- c("Patient", "FOLD", "ATC")

In [12]:
ATCssubset1$cycle <- "01"
ATCssubset2$cycle <- "02"
ATCssubset3$cycle <- "03"
ATCssubset4$cycle <- "04"
ATCssubset5$cycle <- "05"

In [13]:
myATCdf <- rbind(ATCssubset1, ATCssubset2,ATCssubset3, ATCssubset4,ATCssubset5)

In [14]:
head(myATCdf)

    Patient FOLD ATC    cycle
221 320     8.9    0.00 01
222 321     0      0.00 01
223 322     1.1    0.00 01
224 323     0    154.75 01
225 324     0      0.00 01
226 325     0        NA 01

In [15]:
write.csv(myATCdf, file = paste(datapath, "ATC_df.csv", sep = ""),row.names = F)

## Clean up NCR file

Copy "NCRs pre" sheet to a new spreadsheet (values only), save as NCRs.csv

In [16]:
NCRs <- read.csv(paste0(datapath, "Flow/NCRs.csv"),header = T, check.names = F, stringsAsFactors = F, 
                 na.strings = c("NA","", "#DIV/0!","#VALUE!","#REF!"))

In [17]:
head(NCRs[221:nrow(NCRs),])

     ID# Age DX     TE Fold CD3 PD-1 PDL1 LAG3 TIM3 CTLA4 ... LAG3 TIM3 CTLA4
221 320   6  AML    NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
222 321  16  HD     NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
223 322  18  DLBCL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
224 323   1  HR ALL NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
225 324  12  T-ALL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
226 325   2  ERMS   NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
    PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
221 NA   NA    NA    NA    NA     NA      NA
222 NA   NA    NA    NA    NA     NA      NA
223 NA   NA    NA    NA    NA     NA      NA
224 NA   NA    NA    NA    NA     NA      NA
225 NA   NA    NA    NA    NA     NA      NA
226 NA   NA    NA    NA    NA     NA      NA

Subset to include patients 330 to 437

In [18]:
NCRssubset <- NCRs[221:nrow(NCRs),]

In [19]:
head(NCRssubset)

     ID# Age DX     TE Fold CD3 PD-1 PDL1 LAG3 TIM3 CTLA4 ... LAG3 TIM3 CTLA4
221 320   6  AML    NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
222 321  16  HD     NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
223 322  18  DLBCL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
224 323   1  HR ALL NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
225 324  12  T-ALL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
226 325   2  ERMS   NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
    PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
221 NA   NA    NA    NA    NA     NA      NA
222 NA   NA    NA    NA    NA     NA      NA
223 NA   NA    NA    NA    NA     NA      NA
224 NA   NA    NA    NA    NA     NA      NA
225 NA   NA    NA    NA    NA     NA      NA
226 NA   NA    NA    NA    NA     NA      NA

Get empty columns. They indicate serial samplesets for each patient

In [20]:
subsets <- grep("^$", colnames(NCRssubset))

In [21]:
subsets

 [1]  18  34  50  66  82  98 114 130 146 162 178 194 210 226 242 258 274 290

In [39]:
NCRssubset[ NCRssubset$` ID#` == "407",19:33]

    TE Fold Pass? CD3  PD-1 PDL1 LAG3 TIM3 CTLA4 PD1% PDL1% LAG3% TIM3% CTLA4%
308 NA      NA    2373 690  NA   116  690  NA    NA   NA    NA    NA    NA
    Any NCR PD1 + LAG3 + TIM3
308 NA      NA

Save each sampleset then rbind

In [40]:
NCRssubset1 <- NCRssubset[,1:17]
NCRssubset2 <- NCRssubset[,c(1:3,19:33)]
NCRssubset3 <- NCRssubset[,c(1:3,35:49)]
NCRssubset4 <- NCRssubset[,c(1:3,51:65)]
NCRssubset5 <- NCRssubset[,c(1:3,67:81)]

In [42]:
colnames(NCRssubset2)

 [1] " ID#"              "Age"               "DX"
 [4] "TE Fold"           "Pass?"             "CD3"
 [7] "PD-1"              "PDL1"              "LAG3"
[10] "TIM3"              "CTLA4"             "PD1%"
[13] "PDL1%"             "LAG3%"             "TIM3%"
[16] "CTLA4%"            "Any NCR"           "PD1 + LAG3 + TIM3"

In [43]:
NCRssubset1$`Pass?` <- NA

In [44]:
NCRssubset1$cycle <- "01"
NCRssubset2$cycle <- "02"
NCRssubset3$cycle <- "03"
NCRssubset4$cycle <- "04"
NCRssubset5$cycle <- "05"

In [45]:
myNCRdf <- rbind(
    NCRssubset1,
    NCRssubset2,
    NCRssubset3,
    NCRssubset4,
    NCRssubset5
)

Reorder columns and colnames cleanup

In [46]:
head(myNCRdf)

     ID# Age DX     TE Fold CD3 PD-1 PDL1 LAG3 TIM3 CTLA4 PD1% PDL1% LAG3%
221 320   6  AML    NA      0   NA   NA   NA   NA   NA    NA   NA    NA
222 321  16  HD     NA      0   NA   NA   NA   NA   NA    NA   NA    NA
223 322  18  DLBCL  NA      0   NA   NA   NA   NA   NA    NA   NA    NA
224 323   1  HR ALL NA      0   NA   NA   NA   NA   NA    NA   NA    NA
225 324  12  T-ALL  NA      0   NA   NA   NA   NA   NA    NA   NA    NA
226 325   2  ERMS   NA      0   NA   NA   NA   NA   NA    NA   NA    NA
    TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3 Pass? cycle
221 NA    NA     NA      NA                NA    01
222 NA    NA     NA      NA                NA    01
223 NA    NA     NA      NA                NA    01
224 NA    NA     NA      NA                NA    01
225 NA    NA     NA      NA                NA    01
226 NA    NA     NA      NA                NA    01

In [47]:
myNCRdf <- myNCRdf[, c(1,19,2:4,18,5:17)]

In [48]:
colnames(myNCRdf)[c(1,4,5,6)]

[1] " ID#"    "DX"      "TE Fold" "Pass?"

In [49]:
colnames(myNCRdf)[c(1,4,5,6)] <- c("Patient", "Disease_type", "TE_fold", "Pass")

Assign -1 to all "x" values. These are samples that failed the flow experiment

In [50]:
myNCRdf$`PD-1`

  [1] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA
 [11] "113"  NA     "340"  NA     NA     "24"   NA     NA     NA     NA
 [21] NA     "176"  "4"    "191"  NA     NA     "33"   "305"  "61"   "117"
 [31] "51"   "857"  "106"  "98"   "440"  NA     "29"   "195"  "148"  "32"
 [41] NA     "693"  "201"  "120"  "303"  "84"   "273"  "46"   "112"  "123"
 [51] "78"   "311"  "95"   "11"   NA     "84"   NA     "5"    "71"   NA
 [61] NA     "159"  NA     "21"   "64"   "46"   "6"    "100"  NA     NA
 [71] "1154" "9"    "5"    "411"  "94"   "14"   "42"   "41"   "19"   "15"
 [81] "17"   "26"   "24"   "27"   "9"    "93"   NA     "640"  "274"  "641"
 [91] "2"    "22"   "x"    "426"  NA     NA     NA     NA     NA     NA
[101] "x"    "64"   "x"    "x"    "11"   NA     "227"  "158"  "48"   "20"
[111] "259"  "381"  "333"  "383"  "626"  NA     NA     NA     NA     NA
[121] NA     NA     NA     NA     NA     NA     NA     NA     "530"  NA
[131] "x"    NA     NA     NA     NA     NA     NA     NA     NA     "176"
[141] "4"    "138"  NA     NA     NA     "50"   "549"  "797"  "41"   "298"
[151] "118"  "151"  NA     NA     "80"   "73"   "645"  NA     NA     "1241"
[161] "176"  NA     "153"  NA     NA     NA     NA     NA     NA     NA
[171] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA
[181] NA     NA     NA     "42"   NA     "254"  "476"  "90"   "28"   "249"
[191] "262"  "879"  "111"  "261"  "407"  "26"   "660"  "38"   "620"  "1"
[201] "18"   "27"   "54"   "66"   "52"   "690"  "666"  "170"  NA     "11"
[211] NA     "265"  NA     NA     NA     "346"  "74"   "235"  "80"   "118"
[221] NA     "72"   "203"  NA     "68"   NA     "1070" "319"  "230"  NA
[231] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA
[241] NA     NA     NA     NA     NA     NA     "54"   NA     "772"  NA
[251] NA     NA     NA     NA     NA     NA     NA     "176"  "4"    "595"
[261] NA     NA     NA     "850"  "98"   NA     "215"  "399"  NA     "134"
[271] NA     NA     "310"  "1360" "589"  NA     NA     "1259" NA     NA
[281] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA
[291] NA     NA     NA     NA     NA     NA     NA     NA     "144"  "99"
[301] NA     "120"  "25"   "160"  "66"   "415"  "31"   "29"   "63"   "37"
[311] "x"    NA     "799"  "28"   "4"    "30"   "654"  "651"  "71"   "27"
[321] "106"  "113"  NA     "731"  "484"  NA     NA     "744"  "x"    "286"
[331] "265"  "265"  NA     "169"  "1027" "188"  "126"  "103"  NA     "200"
[341] NA     "441"  "300"  NA     NA     NA     NA     NA     NA     NA
[351] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA
[361] NA     NA     NA     NA     "218"  NA     "577"  NA     NA     NA
[371] NA     NA     NA     NA     NA     "176"  "4"    "1176" NA     NA
[381] NA     "447"  NA     NA     "293"  "314"  NA     "219"  NA     NA
[391] "1065" "1075" NA     NA     NA     NA     "957"  NA     "610"  NA
[401] NA     NA     NA     NA     NA     NA     NA     "91"   NA     "75"
[411] NA     "31"   "225"  NA     NA     NA     "1163" "31"   NA     "435"
[421] "680"  NA     "129"  "411"  "x"    NA     NA     "84"   "717"  NA
[431] NA     "387"  "652"  "343"  "693"  "236"  NA     NA     NA     NA
[441] NA     NA     "411"  NA     "138"  NA     "165"  "308"  "269"  "x"
[451] NA     NA     NA     "64"   NA     NA     NA     NA     NA     "312"
[461] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA
[471] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA
[481] NA     NA     "x"    NA     "472"  NA     NA     NA     NA     NA
[491] NA     NA     NA     "176"  "4"    "497"  NA     NA     NA     "15"
[501] "16"   NA     "70"   "136"  NA     "123"  NA     NA     "220"  "158"
[511] NA     NA     NA     NA     NA     NA     "586"  NA     NA     "186"
[521] NA     NA     NA     NA     NA     "636"  NA     "1020" NA     NA
[531] "49"   NA     NA     NA     NA     "76"   NA     "408"  "877"  NA
[541] NA     "525"  "396"  NA     NA     NA     "164"  NA     NA     "129"
[551] "629"  NA     NA     NA     NA     NA     NA     NA     NA     NA
[561] "496"  NA     NA     NA     "454"  NA     "347"  "283"  NA     NA
[571] "444"  NA     NA     NA     NA     NA     NA     NA     NA     NA
[581] NA     NA     NA     NA     NA     NA     NA     NA     NA     NA

In [51]:
myNCRdf$`PD-1` <- gsub("x", -1, myNCRdf$`PD-1`)
myNCRdf$LAG3 <- gsub("x", -1, myNCRdf$LAG3)
myNCRdf$TIM3 <- gsub("x", -1, myNCRdf$TIM3)

In [52]:
myNCRdf$`PD-1` <- as.numeric(myNCRdf$`PD-1`)
myNCRdf$LAG3 <- as.numeric(myNCRdf$LAG3)
myNCRdf$TIM3 <- as.numeric(myNCRdf$TIM3)

In [53]:
head(myNCRdf)

    Patient cycle Age Disease_type TE_fold Pass CD3 PD-1 PDL1 LAG3 TIM3 CTLA4
221 320     01     6  AML          NA      NA   0   NA   NA   NA   NA   NA
222 321     01    16  HD           NA      NA   0   NA   NA   NA   NA   NA
223 322     01    18  DLBCL        NA      NA   0   NA   NA   NA   NA   NA
224 323     01     1  HR ALL       NA      NA   0   NA   NA   NA   NA   NA
225 324     01    12  T-ALL        NA      NA   0   NA   NA   NA   NA   NA
226 325     01     2  ERMS         NA      NA   0   NA   NA   NA   NA   NA
    PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
221 NA   NA    NA    NA    NA     NA      NA
222 NA   NA    NA    NA    NA     NA      NA
223 NA   NA    NA    NA    NA     NA      NA
224 NA   NA    NA    NA    NA     NA      NA
225 NA   NA    NA    NA    NA     NA      NA
226 NA   NA    NA    NA    NA     NA      NA

In [54]:
dim(myNCRdf)

[1] 590  19

Generate percentage NCRs

In [57]:
head(myNCRdf[ myNCRdf$Patient == "407",])

     Patient cycle Age Disease_type TE_fold Pass CD3  PD-1 PDL1 LAG3 TIM3 CTLA4
308  407     01    12  DLMCL        NA      NA   2219 640  NA   325  640  NA
3081 407     02    12  DLMCL        NA      NA   2373 690  NA   116  690  NA
3082 407     03    12  DLMCL        NA      NA      0 731  NA    29  731  NA
3083 407     04    12  DLMCL        NA      NA      0  NA  NA    NA   NA  NA
3084 407     05    12  DLMCL        NA      NA      0  NA  NA    NA   NA  NA
     PD1%     PDL1% LAG3%     TIM3%    CTLA4% Any NCR PD1 + LAG3 + TIM3
308  28.84182 NA    14.646237 28.84182 NA     NA      NA
3081 29.07712 NA     4.888327 29.07712 NA     NA      NA
3082      Inf NA          Inf      Inf NA     NA      NA
3083       NA NA           NA       NA NA     NA      NA
3084       NA NA           NA       NA NA     NA      NA

In [56]:
myNCRdf$`PD1%` <- (myNCRdf$`PD-1`/myNCRdf$CD3)* 100
myNCRdf$`PDL1%` <- (myNCRdf$PDL1/myNCRdf$CD3)* 100
myNCRdf$`LAG3%` <- (myNCRdf$LAG3/myNCRdf$CD3)* 100
myNCRdf$`TIM3%` <- (myNCRdf$TIM3/myNCRdf$CD3)* 100
myNCRdf$`CTLA4%` <- (myNCRdf$CTLA4/myNCRdf$CD3)* 100

In [ ]:
write.csv(myNCRdf,file = paste0(datapath, "NCR_df.csv"),row.names = F)

## Clean up T cells file

Copy "Pre Memory Subsets" sheet to a new spreadsheet (values only)

move the first 3 colnames up to align the the other colnames
remove row 2. save as Tsubsets.csv

In [ ]:
Tcells <- read.csv(paste0(datapath, "Flow/Tsubsets.csv"),header = T, 
                 check.names = F, stringsAsFactors = F,
                 na.strings = c("NA","","#DIV/0!","#VALUE!","#REF!"))

In [ ]:
head(Tcells)

Subset to include patients 330 to 437

In [ ]:
Tcellsubset <- Tcells[221:nrow(Tcells),]

Get empty columns and seperate serial samples

In [ ]:
grep("^$", colnames(Tcellsubset))

In [ ]:
Tcellsubset1 <- Tcellsubset[,1:18]
Tcellsubset2 <- Tcellsubset[,c(1:3,20:34)]
Tcellsubset3 <- Tcellsubset[,c(1:3,36:50)]
Tcellsubset4 <- Tcellsubset[,c(1:3,52:66)]
Tcellsubset5 <- Tcellsubset[,c(1:3,68:82)]

In [ ]:
Tcellsubset1$cycle <- "01"
Tcellsubset2$cycle <- "02"
Tcellsubset3$cycle <- "03"
Tcellsubset4$cycle <- "04"
Tcellsubset5$cycle <- "05"

In [ ]:
myTcellsdf <- rbind(Tcellsubset1,
                Tcellsubset2,
                Tcellsubset3,
                Tcellsubset4,
                Tcellsubset5)

In [ ]:
myTcellsdf <- myTcellsdf[, c(1,19,2:4,5:18)]

In [ ]:
colnames(myTcellsdf)[c(1,4,5,6)] <- c("Patient", "Disease_type", "TE_fold", "Pass")

In [ ]:
head(myTcellsdf)

In [ ]:
write.csv(myTcellsdf,file = paste0(datapath, "Tcells_df.csv"),
         row.names = F)

## Create master table for clinical and flow data

In [ ]:
Tcells <- read.csv(paste0(datapath, "Tcells_df.csv"),
                 header = T, stringsAsFactors = F,check.names = F)

In [ ]:
NCRs <- read.csv(paste0(datapath, "NCR_df.csv"),
                 header = T, stringsAsFactors = F,check.names = F)

In [ ]:
ATCs <- read.csv(paste0(datapath, "ATC_df.csv"),
                 header = T, stringsAsFactors = F,check.names = F)

In [ ]:
ATC_Tcells <- merge(ATCs, Tcells, by = c("Patient", "cycle"))

In [ ]:
dim(ATCs)
dim(Tcells)
dim(ATC_Tcells)

In [ ]:
ATC_Tcells_NCR <- merge(ATC_Tcells, NCRs[,!colnames(NCRs)%in% c("Disease_type", "Age", "TE_fold", "Pass", "CD3")], by = c("Patient", "cycle"))

In [ ]:
head(ATC_Tcells_NCR[,5:15])

In [ ]:
ATC_Tcells_NCR$FOLD[ATC_Tcells_NCR$FOLD == "x"] <- NA

In [ ]:
cols <- c("FOLD", "EM", "CM", "SCM", "TE", "Naïve")
ATC_Tcells_NCR[,cols] <- apply(ATC_Tcells_NCR[,cols],2, function(x) as.numeric(as.character(x)))

In [ ]:
colnames(ATC_Tcells_NCR)

In [ ]:
head(ATC_Tcells_NCR)

In [ ]:
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 1] <- "01"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 2] <- "02"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 3] <- "03"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 4] <- "04"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 5] <- "05"

In [ ]:
head(ATC_Tcells_NCR)

## Cohort cleanup

In [ ]:
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Hepatoblastoma"] <- "HB"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Ewings"] <- "EWS"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Burkitts"] <- "BL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Burkitts "] <- "BL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Burkitt's"] <- "BL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Wilms"] <- "WILMS"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "B cell lymphoma"] <- "BLL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "B lymphoblastic lymphoma"] <- "BLL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "NBL"] <- "NB"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "aLL"] <- "ALL"

Typos according to DB

In [ ]:
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "DLMCL"] <- "DLBCL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "SML"] <- "CML"

In [ ]:
table(ATC_Tcells_NCR$Disease_type)

In [ ]:
leuk <- c("T-ALL", "SR ALL", "HR ALL", "ALL", "AML", "CML")
lymph <- c("ALCL", "BL", "BLL", "PMBCL", "HD", "CLBCL", "DLBCL")
solid <- c("ARMS", "EWS", "HB", "MS NB", "NB", "OS", "RMS", "WILMS", "ERMS")

In [ ]:
ATC_Tcells_NCR$cancergroup[ATC_Tcells_NCR$Disease_type %in% leuk] <- "Leukemia"
ATC_Tcells_NCR$cancergroup[ATC_Tcells_NCR$Disease_type %in% lymph] <- "Lymphoma"
ATC_Tcells_NCR$cancergroup[ATC_Tcells_NCR$Disease_type %in% solid] <- "Solid"

In [ ]:
table(ATC_Tcells_NCR$cancergroup, useNA = "always")

In [ ]:
head(ATC_Tcells_NCR)

In [ ]:
ATC_Tcells_NCR$Patient <- paste("CHP_", ATC_Tcells_NCR$Patient, sep = "")

In [ ]:
ATC_Tcells_NCR$sample_id <- paste( ATC_Tcells_NCR$Patient, "_", ATC_Tcells_NCR$cycle, sep = "")

In [ ]:
head(ATC_Tcells_NCR)

In [ ]:
write.csv(ATC_Tcells_NCR,
         file = paste0(datapath, "INT_metadata_flow.csv"),row.names = F)