In [25]:
library(ggplot2)
library(gridExtra)
library(ComplexHeatmap)
library(circlize)
library(tidyr)

Warning message:
“package ‘tidyr’ was built under R version 3.5.2”

In [4]:
plotpath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Plots/"
datapath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/"

# FUNCTION heatmap of NCRs

In [21]:
    NCRs <- read.csv(paste(datapath, "NCR_df.csv", sep = ""),
                 header = T, 
                 check.names = F)

In [22]:
head(NCRs)

  Patient cycle Age  Disease_type   TE_fold Pass CD3  PD-1 PDL1 LAG3 TIM3 CTLA4
1 330     1      5.0 OS             0.9     NA   2437 113  NA   67   113  NA
2 331     1      5.0 SR ALL         0       NA      0 NA   NA   NA   NA   NA
3 332     1     10.0 ERMS           8.2     NA   3628 340  NA   269  340  NA
4 333     1     12.0 HD             0       NA      0 NA   NA   NA   NA   NA
5 334     1     19.0 HR ALL         0       NA      0 NA   NA   NA   NA   NA
6 335     1      0.9 Hepatoblastoma 0       NA      0 24   NA   44   24   NA
  PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
1 4.64  0    2.75  4.64   0     12.02   12.02
2   NA NA      NA    NA  NA        NA      NA
3 9.37  0    7.41  9.37   0     26.16   26.16
4   NA NA      NA    NA  NA        NA      NA
5   NA NA      NA    NA  NA        NA      NA
6   NA NA      NA    NA  NA        NA      NA

In [23]:
NCRs_TIM3 <- NCRs[,c("Patient", "cycle", "TIM3%")]

In [28]:
mytm3 <- spread(NCRs_TIM3, key = cycle, value = `TIM3%`)

In [31]:
mycohort <- NCRs[NCRs$cycle == "1",c(1,4)]

In [34]:
rownames(mytm3) <- mytm3$Patient
mytm3$Patient <- NULL

In [4]:

    heatmap_ncr = Heatmap(t(NCRmat),
                          name = "NCR",
                          column_title = paste(patient, unique(mypt_mycycles$Disease_type), sep = "_"),                             
                          col = col_fun,
                          #format rows
                          row_names_gp = gpar(fontsize = 15),                      
                          cluster_rows = FALSE,
                          show_row_dend = FALSE,                      
                          #format cols
                          cluster_columns = FALSE,
                          column_names_gp = gpar(fontsize = 15), 
                          rect_gp = gpar(col = "black"), 
                          #legend
                          show_heatmap_legend = TRUE,
                          width = unit(length(cyclelist), "cm"),
                          height = unit(5, "cm"),
                          heatmap_legend_param = list(labels_gp = gpar(fontsize = 12)))