<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#TCRcap-tracking-list" data-toc-modified-id="TCRcap-tracking-list-1">TCRcap tracking list</a></span></li><li><span><a href="#Identify-samples-with-data-from-more-than-2-cycles" data-toc-modified-id="Identify-samples-with-data-from-more-than-2-cycles-2">Identify samples with data from more than 2 cycles</a></span></li></ul></div>

# TCRcap tracking list

In [1]:
library(tidyr)

Warning message:
“package ‘tidyr’ was built under R version 3.5.2”

In [19]:
samplelist.fx <- function(datapath, outpath){
#read in alignstats for ds files
    alignstats <- read.csv(file = paste(datapath,"align_stats.csv", sep =""),
                          sep = ",", header = T)
    alignstats$samplename <- gsub("_2000000_.*","",alignstats$Input.file.s.[order(alignstats$Successfully.aligned.reads)])
#Include only CHP samples
    CHPs <- alignstats$samplename[grepl("CHP", alignstats$samplename)]
    CHPs <- gsub("-PBMC-DNA", "", CHPs)
    CHPsdf <- cbind.data.frame(CHPs, CHPs, "1")
    colnames(CHPsdf) <- c("patient", "cycle", "number")
    CHPsdf$cycle <- gsub(".*-", "",CHPsdf$cycle)
    CHPsdf$cycle <- gsub("0", "X",CHPsdf$cycle)
    CHPsdf$patient <- gsub("-.*", "", CHPsdf$patient)
    CHPsdf$patient <- gsub("CHP_", "", CHPsdf$patient)
    
    print(CHPsdf)
    patient_cycle <- read.csv(file = "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/patient_cycle_captured_updated.csv",
                              sep = ",", 
                              header = T)

    for(i in 1:nrow(CHPsdf)){
        patient_cycle[match(CHPsdf[i,1],patient_cycle$Patient),
                      match(CHPsdf[i,2],colnames(patient_cycle))] <- 1
    }
    write.csv(patient_cycle, 
              file = paste(outpath, "patient_cycle_captured_updated.csv", sep = ""), 
              row.names = F)
}

In [20]:
datapath_ds1 <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/Nextseq/batch1/ds_batch1/"

In [21]:
samplelist.fx(datapath_ds1, "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/")

   patient cycle number
1      356    X5      1
2      367    X1      1
3      349    X1      1
4      363    X3      1
5      348    X4      1
6      348    X3      1
7      365    X2      1
8      349    X2      1
9      346    X1      1
10     352    X2      1
11     358    X1      1
12     352    X1      1
13     350    X3      1

In [22]:
datapath_ds2 <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/Nextseq/batch2/ds_batch2/"

In [23]:
samplelist.fx(datapath_ds2, "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/")

   patient cycle number
1      329    X4      1
2      343    X5      1
3      348    X2      1
4      342    X4      1
5      343    X2      1
6      343    X3      1
7      348    X1      1
8      319    X5      1
9      331    X4      1
10     343    X4      1
11     330    X5      1
12     338    X4      1
13     338    X5      1
14     331    X5      1

In [24]:
datapath_ds3 <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/Nextseq/batch3/ds_batch3/"
datapath_ds4 <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/Nextseq/batch4/ds_batch4/"

In [25]:
samplelist.fx(datapath_ds3, "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/")
samplelist.fx(datapath_ds4, "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/")

   patient cycle number
1      374    X5      1
2      365    X3      1
3      373    X1      1
4      380    X2      1
5      361    X2      1
6      374    X4      1
7      345    X5      1
8      361    X3      1
9      350    X5      1
10     374    X3      1
11     345    X4      1
12     360    X3      1
13     370    X2      1
14     381    X2      1
15     376    X3      1
16     339    X5      1
17     358    X3      1
18     368    X5      1
19     358    X5      1
20     378    X1      1
21     340    X5      1
   patient cycle number
1      339    X3      1
2      315    X5      1
3      343    X5      1
4      361    X1      1
5      355    X1      1
6      323    X3      1
7      363    X2      1
8      347    X1      1
9      357    X1      1
10     344    X5      1
11     366    X1      1
12     364    X2      1
13     364    X4      1
14     340    X3      1
15     364    X1      1
16     347    X2      1
17     362    X2      1
18     303    X5      1
19     345    X2      1
20     338    X3      1

In [26]:
datapath_ds7 <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/Nextseq/batch7/ds_batch7/"

In [27]:
samplelist.fx(datapath_ds7, "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/")

   patient cycle number
1      361    X4      1
2      370    X1      1
3      357    X4      1
4      344    X3      1
5      359    X1      1
6      362    X4      1
7      323    X4      1
8      344    X2      1
9      373    X2      1
10     362    X3      1
11     353    X1      1
12     362    X1      1
13     347    X3      1
14     368    X4      1
15     323    X5      1
16     370    X5      1
17     345    X3      1
18     353    X3      1
19     368    X1      1
20     351    X4      1
21     353    X5      1
22     360    X2      1
23     378    X2      1
24     375    X2      1

In [28]:
datapath_ds6a <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/Nextseq/batch6a/ds_batch6a/"

In [29]:
samplelist.fx(datapath_ds6a, "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/")

  patient cycle number
1     347    X4      1
2     367    X2      1
3     357    X3      1
4     340    X4      1
5     359    X4      1
6     359    X2      1

In [30]:
datapath_ds8 <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/Nextseq/batch8/ds_batch8/"

In [31]:
samplelist.fx(datapath_ds8, "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/")

   patient cycle number
1      394    X1      1
2      373    X3      1
3      394    X4      1
4      380    X3      1
5      344    X4      1
6      380    X5      1
7      385    X3      1
8      386    X2      1
9      356    X2      1
10     347    X5      1
11     396    X2      1
12     335    X3      1
13     360    X5      1
14     383    X3      1
15     370    X3      1
16     378    X4      1
17     357    X2      1
18     382    X2      1
19     397    X1      1
20     369    X2      1
21     396    X1      1
22     399    X1      1
23     387    X1      1

# Identify samples with data from more than 2 cycles

In [32]:
patient_cycle <- read.csv(file = "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/patient_cycle_captured_updated.csv",
                          sep = ",", 
                          header = T)

In [33]:
head(patient_cycle)

  Patient X1 X2 X3 X4 X5
1 300     NA NA NA NA NA
2 301     NA NA NA NA NA
3 302     NA NA NA NA NA
4 303     NA NA NA NA  1
5 304     NA NA NA NA NA
6 305     NA NA NA NA NA

In [34]:
rownames(patient_cycle) <- gsub("CHP_", "",patient_cycle$Patient)
patient_cycle$Patient <- NULL

In [35]:
patient_cycle[which(patient_cycle$X1 == 1),]

    X1 X2 X3 X4 X5
346 1  NA NA NA NA
347 1   1  1  1  1
348 1   1  1  1 NA
349 1   1 NA NA NA
352 1   1 NA NA NA
353 1  NA  1 NA  1
355 1  NA NA NA NA
357 1   1  1  1 NA
358 1  NA  1 NA  1
359 1   1 NA  1 NA
361 1   1  1  1 NA
362 1   1  1  1 NA
364 1   1 NA  1 NA
366 1  NA NA NA NA
367 1   1 NA NA NA
368 1  NA NA  1  1
370 1   1  1 NA  1
373 1   1  1 NA NA
378 1   1 NA  1 NA
387 1  NA NA NA NA
394 1  NA NA  1 NA
396 1   1 NA NA NA
397 1  NA NA NA NA
399 1  NA NA NA NA

In [36]:
na_rows = rowSums(!is.na(patient_cycle))

na_rows[which(na_rows > 2)]

323 338 340 343 344 345 347 348 353 357 358 359 360 361 362 364 368 370 373 374
  3   3   3   4   4   4   5   4   3   4   3   3   3   4   4   3   3   4   3   3
378 380
  3   3